* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#game-board{
    width: 500px;
    height: 500px;
    background: #333333;
}

#points-ctn {
    width: 200px;
    height: 80px;
}

.player {
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
    margin: 10px;
}

.square {
    width: 33.3%;
    height: 100%;
    float: left;
    cursor: pointer;
    border-right: 2px solid black;
    text-align: center;
}

.line-ctn {
    width: 70%;
    height: 20%;
    background: rgb(216, 216, 216);
    border-bottom: 2px solid black;
    margin: 0 auto;
    position: relative;
    top: 10%;
}

.circle {
    width: 80%;
    height: 80%;
    border: 2px solid black;
    border-radius: 100%;
    margin: 0 auto;
    position: relative;
    top: 10%;
}

.cross {
    font-size: 5rem;
}